<!DOCTYPE html>
<html>
<head>
	<% include ../partials/head %>
</head>
<body>
	<% include ../partials/header %>

	<div class="container">
    <h3>Your Profile</h3><br>
		<table class="table">
        <tr>
          <th>Username</th>
          <td><%= profile.username %></td>
        </tr>
				<tr>
          <th>Email</th>
          <td><%= info.user.email %></td>
        </tr>
        <tr>
          <th>Password</th>
          <td><%= helper.decryptPassword(profile.password) %></td>
        </tr>
        <tr>
          <th>Name Alias</th>
          <td><%= profile.name %></td>
        </tr>
      </table>
      <a href="/user/<%=info.user.id%>/editProfile">
        <h4 text-align= "center">Edit</h4>
      </a>
  </div>
  <%- include ../partials/footer.ejs %>
</body>
</html>
