<%- include ../partials/header.ejs %>


<%- include ../partials/footer.ejs %>

<!DOCTYPE html>
<html>
<head>
	<% include ../partials/head %>
</head>
<body>
  
	<div class="container">	
    <h3>Your Profile</h3><br>
		<table class="table">
        <tr>
          <th>Username</th>
          <td><%= info.user.username %></td>
        </tr>
        <tr>
          <th>Password</th>
          <td><%= info.user.password %></td>
        </tr>
        <tr>
          <th>Name Alias</th>
          <td><%= info.user.name %></td>
        </tr>
      </table>
      <a href="/user/<%=info.user.id%>/editProfile">
        <h4 text-align= "center">Edit</h4>
      </a>
  </div>
  <%- include ../partials/footer.ejs %>
</body>
</html>