<!DOCTYPE html>
<html>
<head>
	<% include ../partials/head %>
</head>
<body>
	<% include ../partials/header %>

	<div class="container">
    <h5><h2><%= forum.name %></h2><h5><br>
    <p><%= forum.detail %><p><br>

    <table class="table">
      <thead>
        <th>Comment</th>
        <th>Respond</th>
        <th>Action</th>
      </thead>
      <tbody>
        <% for(let i=0; i<comments.length; i++){ %>
          <tr>
            <% if(comments[i].ParentId==null){ %>
              <td><b><%= comments[i].alias %>: </b><%= comments[i].content %></td>
            <td>
              <% for(let j=0; j<comments[i].comments.length; j++){ %>
                <b><%= comments[i].comments[j].alias %>: </b><%= comments[i].comments[j].content %><br>
              <% } %>
            </td>
            <td>
              <form class="" action="" method="post">
								<input type="hidden" name="email" value="<%= comments[i].User.email %>">
                <input type="hidden" name="parentId" value="<%= comments[i].id %>">
                <input type="hidden" name="forumId" value="<%= forum.id %>">
								<input type="hidden" name="forumName" value="<%= forum.name %>">
                <input type="text" name="comment" value="">
                <button type="submit" class="btn btn-primary btn-sm">respond</button>
                <!-- <input type="submit" value="respond"> -->
              </form>
            </td>
            <% } %>
          </tr>
        <% } %>
      </tbody>
    </table><br><br>

    <form class="container" action="" method="post">
			<input type="hidden" name="email" value="<%= user.email %>">
      <input type="hidden" name="parentId" value="">
      <input type="hidden" name="forumId" value="<%= forum.id %>">
			<input type="hidden" name="forumName" value="<%= forum.name %>">
      <input type="text" name="comment" value="">
      <button type="submit" class="btn btn-primary btn-sm">comment</button>
      <!-- <input type="submit" value="comment"> -->
    </form>

  </div>
  <%- include ../partials/footer.ejs %>
</body>
</html>
