<%- include ../partials/header.ejs %>
  <form class="" action="" method="post">
    <input type="hidden" name="userId" value="<%= userId %>">
    <label>Forum Name</label><br>
    <input type="text" name="newName" value="<%= name %>"><br>
    <label>Forum Detail</label><br>
    <input type="text" name="newDetail" value="<%= detail %>">
    <br>
    <input type="submit">
  </form>
<%- include ../partials/footer.ejs %>
