<!DOCTYPE html>
<html lang="en">
<head>
	<%- include ../partials/head %>
</head>
<body>
	<%- include ../partials/header %>

<div class="container">
		<table class="table">
			<thead>
				<th>Forum Name</th>
				<th>Description</th>
			</thead>
			<tbody>
				<% for(let i=0; i<forums.length; i++){ %>
					<tr>
						<td><a href="/forum/<%= forums[i].id %>/detail"><%= forums[i].name %></a></td>
						<td><%= forums[i].newDetail %></td>
					</tr>
				<% } %>
			</tbody>
		</table>
</div>

<%- include ../partials/footer %>
</body>
</html>
